.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

h1 {
    color: rgb(51, 51, 51);
}

p {
    color: #666;
}

form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select, input[type="submit"] {
    padding: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    margin-right: 20px;
}

a:hover {
    color: #0056b3;
}